@import "tailwindcss";



  @keyframes slide {
          0% {
            transform: translateX(-100%);
          }

          100% {
            transform: translateX(0%);
          }
        }
        .animate-slide {
          animation: slide infinite 10s linear;
        }



        /* extend: {
  keyframes: {
    marquee: {
      '0%': { transform: 'translateX(0)' },
      '100%': { transform: 'translateX(-50%)' }
    },
  },
  animation: {
    marquee: 'marquee 20s linear infinite',
  },
} */
