@import "tailwindcss";



  @keyframes slide {
          0% {
            transform: translateX(-100%);
          }

          100% {
            transform: translateX(0%);
          }
        }
        .animate-slide {
          animation: slide infinite 10s linear;
        }